In [16]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import sqlite3

In [17]:
url = "https://www.elections.tn.gov.in/ACwise_Gendercount_19122025.aspx"

response = requests.get(url, timeout=30)
response.raise_for_status()

html = response.text

In [18]:
soup = BeautifulSoup(html, "html.parser")

table = soup.find("table")

if table is None:
    raise ValueError("No table found on the page")

In [19]:
rows = table.find_all("tr")
rows

[<tr>
 <th style="text-align:center">District No.</th>
 <th style="text-align:center">District Name</th>
 <th style="text-align:center">AC No.</th>
 <th style="text-align:center">Name of Assembly Constituency</th>
 <th style="text-align:center">Male</th>
 <th style="text-align:center">Female</th>
 <th style="text-align:center">Third Gender</th>
 <th style="text-align:center">Total</th>
 </tr>,
 <tr>
 <td rowspan="10" style="vertical-align:middle; text-align:center">1</td>
 <td rowspan="10" style="vertical-align:middle; font-weight:bold">Thiruvallur</td>
 <td style="vertical-align:middle; text-align:center">1</td>
 <td>Gummidipoondi</td>
 <td style="text-align:right">118205</td>
 <td style="text-align:right">124318</td>
 <td style="text-align:right">35</td>
 <td style="text-align:right">242558</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">2</td>
 <td>Ponneri</td>
 <td style="text-align:right">116890</td>
 <td style="text-align:right">122218</td>
 <td style="text-align:right">33</td>
 <td style="text-align:right">239141</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">3</td>
 <td>Tiruttani</td>
 <td style="text-align:right">125051</td>
 <td style="text-align:right">127078</td>
 <td style="text-align:right">25</td>
 <td style="text-align:right">252154</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">4</td>
 <td>Thiruvallur</td>
 <td style="text-align:right">116790</td>
 <td style="text-align:right">121992</td>
 <td style="text-align:right">36</td>
 <td style="text-align:right">238818</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">5</td>
 <td>Poonamallee</td>
 <td style="text-align:right">169692</td>
 <td style="text-align:right">178276</td>
 <td style="text-align:right">66</td>
 <td style="text-align:right">348034</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">6</td>
 <td>Avadi</td>
 <td style="text-align:right">197440</td>
 <td style="text-align:right">205180</td>
 <td style="text-align:right">73</td>
 <td style="text-align:right">402693</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">7</td>
 <td>Maduravoyal</td>
 <td style="text-align:right">161081</td>
 <td style="text-align:right">164247</td>
 <td style="text-align:right">79</td>
 <td style="text-align:right">325407</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">8</td>
 <td>Ambattur</td>
 <td style="text-align:right">150048</td>
 <td style="text-align:right">154407</td>
 <td style="text-align:right">56</td>
 <td style="text-align:right">304511</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">9</td>
 <td>Madavaram</td>
 <td style="text-align:right">189537</td>
 <td style="text-align:right">196703</td>
 <td style="text-align:right">87</td>
 <td style="text-align:right">386327</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">10</td>
 <td>Thiruvottiyur</td>
 <td style="text-align:right">108809</td>
 <td style="text-align:right">113887</td>
 <td style="text-align:right">110</td>
 <td style="text-align:right">222806</td>
 </tr>,
 <tr>
 <td rowspan="16" style="vertical-align:middle; text-align:center">2</td>
 <td rowspan="16" style="vertical-align:middle; font-weight:bold">Chennai</td>
 <td style="vertical-align:middle; text-align:center">11</td>
 <td>Dr.Radhakrishnan Nagar</td>
 <td style="text-align:right">85239</td>
 <td style="text-align:right">93050</td>
 <td style="text-align:right">67</td>
 <td style="text-align:right">178356</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">12</td>
 <td>Perambur</td>
 <td style="text-align:right">97357</td>
 <td style="text-align:right">102758</td>
 <td style="text-align:right">66</td>
 <td style="text-align:right">200181</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">13</td>
 <td>Kolathur</td>
 <td style="text-align:right">90098</td>
 <td style="text-align:right">96709</td>
 <td style="text-align:right">34</td>
 <td style="text-align:right">186841</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">14</td>
 <td>Villivakkam</td>
 <td style="text-align:right">69071</td>
 <td style="text-align:right">73603</td>
 <td style="text-align:right">32</td>
 <td style="text-align:right">142706</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">15</td>
 <td>Thiru-Vi-Ka-Nagar</td>
 <td style="text-align:right">79094</td>
 <td style="text-align:right">85385</td>
 <td style="text-align:right">49</td>
 <td style="text-align:right">164528</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">16</td>
 <td>Egmore</td>
 <td style="text-align:right">59866</td>
 <td style="text-align:right">62699</td>
 <td style="text-align:right">42</td>
 <td style="text-align:right">122607</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">17</td>
 <td>Royapuram</td>
 <td style="text-align:right">71114</td>
 <td style="text-align:right">75698</td>
 <td style="text-align:right">53</td>
 <td style="text-align:right">146865</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">18</td>
 <td>Harbour</td>
 <td style="text-align:right">55182</td>
 <td style="text-align:right">55280</td>
 <td style="text-align:right">55</td>
 <td style="text-align:right">110517</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">19</td>
 <td>Chepauk-Thiruvallikeni</td>
 <td style="text-align:right">73260</td>
 <td style="text-align:right">77543</td>
 <td style="text-align:right">43</td>
 <td style="text-align:right">150846</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">20</td>
 <td>Thousand Lights</td>
 <td style="text-align:right">67566</td>
 <td style="text-align:right">73768</td>
 <td style="text-align:right">59</td>
 <td style="text-align:right">141393</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">21</td>
 <td>Anna Nagar</td>
 <td style="text-align:right">78287</td>
 <td style="text-align:right">83802</td>
 <td style="text-align:right">46</td>
 <td style="text-align:right">162135</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">22</td>
 <td>Virugampakkam</td>
 <td style="text-align:right">84945</td>
 <td style="text-align:right">90130</td>
 <td style="text-align:right">48</td>
 <td style="text-align:right">175123</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">23</td>
 <td>Saidapet</td>
 <td style="text-align:right">90335</td>
 <td style="text-align:right">96098</td>
 <td style="text-align:right">56</td>
 <td style="text-align:right">186489</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">24</td>
 <td>Thiyagarayanagar</td>
 <td style="text-align:right">67420</td>
 <td style="text-align:right">72050</td>
 <td style="text-align:right">28</td>
 <td style="text-align:right">139498</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">25</td>
 <td>Mylapore</td>
 <td style="text-align:right">86901</td>
 <td style="text-align:right">94669</td>
 <td style="text-align:right">22</td>
 <td style="text-align:right">181592</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">26</td>
 <td>Velachery</td>
 <td style="text-align:right">91955</td>
 <td style="text-align:right">98001</td>
 <td style="text-align:right">43</td>
 <td style="text-align:right">189999</td>
 </tr>,
 <tr>
 <td rowspan="4" style="vertical-align:middle; text-align:center">3</td>
 <td rowspan="4" style="vertical-align:middle; font-weight:bold">Kancheepuram</td>
 <td style="vertical-align:middle; text-align:center">28</td>
 <td>Alandur</td>
 <td style="text-align:right">130058</td>
 <td style="text-align:right">137178</td>
 <td style="text-align:right">35</td>
 <td style="text-align:right">267271</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">29</td>
 <td>Sriperumbudur</td>
 <td style="text-align:right">172246</td>
 <td style="text-align:right">183010</td>
 <td style="text-align:right">60</td>
 <td style="text-align:right">355316</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">36</td>
 <td>Uthiramerur</td>
 <td style="text-align:right">115401</td>
 <td style="text-align:right">121569</td>
 <td style="text-align:right">54</td>
 <td style="text-align:right">237024</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">37</td>
 <td>Kancheepuram</td>
 <td style="text-align:right">129688</td>
 <td style="text-align:right">137589</td>
 <td style="text-align:right">36</td>
 <td style="text-align:right">267313</td>
 </tr>,
 <tr>
 <td rowspan="5" style="vertical-align:middle; text-align:center">4</td>
 <td rowspan="5" style="vertical-align:middle; font-weight:bold">Vellore</td>
 <td style="vertical-align:middle; text-align:center">40</td>
 <td>Katpadi</td>
 <td style="text-align:right">104348</td>
 <td style="text-align:right">111371</td>
 <td style="text-align:right">32</td>
 <td style="text-align:right">215751</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">43</td>
 <td>Vellore</td>
 <td style="text-align:right">95706</td>
 <td style="text-align:right">102974</td>
 <td style="text-align:right">42</td>
 <td style="text-align:right">198722</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">44</td>
 <td>Anaikattu</td>
 <td style="text-align:right">110598</td>
 <td style="text-align:right">117011</td>
 <td style="text-align:right">36</td>
 <td style="text-align:right">227645</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">45</td>
 <td>Kilvaithinankuppam</td>
 <td style="text-align:right">101663</td>
 <td style="text-align:right">105711</td>
 <td style="text-align:right">8</td>
 <td style="text-align:right">207382</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">46</td>
 <td>Gudiyattam</td>
 <td style="text-align:right">116304</td>
 <td style="text-align:right">122169</td>
 <td style="text-align:right">32</td>
 <td style="text-align:right">238505</td>
 </tr>,
 <tr>
 <td rowspan="6" style="vertical-align:middle; text-align:center">5</td>
 <td rowspan="6" style="vertical-align:middle; font-weight:bold">Krishnagiri</td>
 <td style="vertical-align:middle; text-align:center">51</td>
 <td>Uthangarai</td>
 <td style="text-align:right">114678</td>
 <td style="text-align:right">113871</td>
 <td style="text-align:right">45</td>
 <td style="text-align:right">228594</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">52</td>
 <td>Bargur</td>
 <td style="text-align:right">114187</td>
 <td style="text-align:right">116415</td>
 <td style="text-align:right">15</td>
 <td style="text-align:right">230617</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">53</td>
 <td>Krishnagiri</td>
 <td style="text-align:right">126308</td>
 <td style="text-align:right">131135</td>
 <td style="text-align:right">58</td>
 <td style="text-align:right">257501</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">54</td>
 <td>Veppanahalli</td>
 <td style="text-align:right">120108</td>
 <td style="text-align:right">116637</td>
 <td style="text-align:right">35</td>
 <td style="text-align:right">236780</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">55</td>
 <td>Hosur</td>
 <td style="text-align:right">162777</td>
 <td style="text-align:right">161941</td>
 <td style="text-align:right">73</td>
 <td style="text-align:right">324791</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">56</td>
 <td>Thalli</td>
 <td style="text-align:right">116098</td>
 <td style="text-align:right">111659</td>
 <td style="text-align:right">37</td>
 <td style="text-align:right">227794</td>
 </tr>,
 <tr>
 <td rowspan="5" style="vertical-align:middle; text-align:center">6</td>
 <td rowspan="5" style="vertical-align:middle; font-weight:bold">Dharmapuri</td>
 <td style="vertical-align:middle; text-align:center">57</td>
 <td>Palacodu</td>
 <td style="text-align:right">116722</td>
 <td style="text-align:right">114057</td>
 <td style="text-align:right">18</td>
 <td style="text-align:right">230797</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">58</td>
 <td>Pennagaram</td>
 <td style="text-align:right">123658</td>
 <td style="text-align:right">115827</td>
 <td style="text-align:right">7</td>
 <td style="text-align:right">239492</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">59</td>
 <td>Dharmapuri</td>
 <td style="text-align:right">125364</td>
 <td style="text-align:right">123361</td>
 <td style="text-align:right">77</td>
 <td style="text-align:right">248802</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">60</td>
 <td>Pappireddipatti</td>
 <td style="text-align:right">124314</td>
 <td style="text-align:right">123249</td>
 <td style="text-align:right">14</td>
 <td style="text-align:right">247577</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">61</td>
 <td>Harur</td>
 <td style="text-align:right">118570</td>
 <td style="text-align:right">118659</td>
 <td style="text-align:right">20</td>
 <td style="text-align:right">237249</td>
 </tr>,
 <tr>
 <td rowspan="8" style="vertical-align:middle; text-align:center">7</td>
 <td rowspan="8" style="vertical-align:middle; font-weight:bold">Tiruvannamalai</td>
 <td style="vertical-align:middle; text-align:center">62</td>
 <td>Chengam</td>
 <td style="text-align:right">129302</td>
 <td style="text-align:right">130291</td>
 <td style="text-align:right">11</td>
 <td style="text-align:right">259604</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">63</td>
 <td>Tiruvannamalai</td>
 <td style="text-align:right">115932</td>
 <td style="text-align:right">123005</td>
 <td style="text-align:right">33</td>
 <td style="text-align:right">238970</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">64</td>
 <td>Kilpennathur</td>
 <td style="text-align:right">115436</td>
 <td style="text-align:right">118080</td>
 <td style="text-align:right">13</td>
 <td style="text-align:right">233529</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">65</td>
 <td>Kalasapakkam</td>
 <td style="text-align:right">111572</td>
 <td style="text-align:right">113454</td>
 <td style="text-align:right">13</td>
 <td style="text-align:right">225039</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">66</td>
 <td>Polur</td>
 <td style="text-align:right">111902</td>
 <td style="text-align:right">115268</td>
 <td style="text-align:right">8</td>
 <td style="text-align:right">227178</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">67</td>
 <td>Arani</td>
 <td style="text-align:right">120331</td>
 <td style="text-align:right">125843</td>
 <td style="text-align:right">34</td>
 <td style="text-align:right">246208</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">68</td>
 <td>Cheyyar</td>
 <td style="text-align:right">114598</td>
 <td style="text-align:right">118113</td>
 <td style="text-align:right">9</td>
 <td style="text-align:right">232720</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">69</td>
 <td>Vandavasi</td>
 <td style="text-align:right">102264</td>
 <td style="text-align:right">104225</td>
 <td style="text-align:right">3</td>
 <td style="text-align:right">206492</td>
 </tr>,
 <tr>
 <td rowspan="7" style="vertical-align:middle; text-align:center">8</td>
 <td rowspan="7" style="vertical-align:middle; font-weight:bold">Viluppuram</td>
 <td style="vertical-align:middle; text-align:center">70</td>
 <td>Gingee</td>
 <td style="text-align:right">116444</td>
 <td style="text-align:right">118448</td>
 <td style="text-align:right">28</td>
 <td style="text-align:right">234920</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">71</td>
 <td>Mailam</td>
 <td style="text-align:right">101237</td>
 <td style="text-align:right">101270</td>
 <td style="text-align:right">21</td>
 <td style="text-align:right">202528</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">72</td>
 <td>Tindivanam</td>
 <td style="text-align:right">104327</td>
 <td style="text-align:right">107755</td>
 <td style="text-align:right">15</td>
 <td style="text-align:right">212097</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">73</td>
 <td>Vanur</td>
 <td style="text-align:right">99964</td>
 <td style="text-align:right">103703</td>
 <td style="text-align:right">16</td>
 <td style="text-align:right">203683</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">74</td>
 <td>Viluppuram</td>
 <td style="text-align:right">114742</td>
 <td style="text-align:right">120270</td>
 <td style="text-align:right">71</td>
 <td style="text-align:right">235083</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">75</td>
 <td>Vikravandi</td>
 <td style="text-align:right">109977</td>
 <td style="text-align:right">112791</td>
 <td style="text-align:right">28</td>
 <td style="text-align:right">222796</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">76</td>
 <td>Tirukkoyilur</td>
 <td style="text-align:right">117686</td>
 <td style="text-align:right">115805</td>
 <td style="text-align:right">27</td>
 <td style="text-align:right">233518</td>
 </tr>,
 <tr>
 <td rowspan="11" style="vertical-align:middle; text-align:center">9</td>
 <td rowspan="11" style="vertical-align:middle; font-weight:bold">Salem</td>
 <td style="vertical-align:middle; text-align:center">81</td>
 <td>Gangavalli</td>
 <td style="text-align:right">103325</td>
 <td style="text-align:right">108251</td>
 <td style="text-align:right">7</td>
 <td style="text-align:right">211583</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">82</td>
 <td>Attur</td>
 <td style="text-align:right">107273</td>
 <td style="text-align:right">113273</td>
 <td style="text-align:right">22</td>
 <td style="text-align:right">220568</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">83</td>
 <td>Yercaud</td>
 <td style="text-align:right">129442</td>
 <td style="text-align:right">134265</td>
 <td style="text-align:right">17</td>
 <td style="text-align:right">263724</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">84</td>
 <td>Omalur</td>
 <td style="text-align:right">145669</td>
 <td style="text-align:right">139544</td>
 <td style="text-align:right">20</td>
 <td style="text-align:right">285233</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">85</td>
 <td>Mettur</td>
 <td style="text-align:right">124277</td>
 <td style="text-align:right">121303</td>
 <td style="text-align:right">16</td>
 <td style="text-align:right">245596</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">86</td>
 <td>Edappadi</td>
 <td style="text-align:right">135654</td>
 <td style="text-align:right">131693</td>
 <td style="text-align:right">27</td>
 <td style="text-align:right">267374</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">87</td>
 <td>Sankari</td>
 <td style="text-align:right">127361</td>
 <td style="text-align:right">124481</td>
 <td style="text-align:right">24</td>
 <td style="text-align:right">251866</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">88</td>
 <td>Salem (West)</td>
 <td style="text-align:right">121763</td>
 <td style="text-align:right">122117</td>
 <td style="text-align:right">61</td>
 <td style="text-align:right">243941</td>
 </tr>,
 <tr>
 <td style="vertical-align:middle; text-align:center">89</td>
 <td>Salem (North)</td>
 <td style="text-align:right">109441</td>
 <td style="text-align:right">114936</td>
 <td style="text-align:right">46</td>
 <td style="text-align:right">224423</td>
 </tr>,
 <tr>

In [20]:
data = []

for row in rows[1:]:
    cols = row.find_all("td")

    if len(cols) >= 6:
        ac_no   = cols[-6].get_text(strip=True)
        ac_name = cols[-5].get_text(strip=True)
        total   = cols[-1].get_text(strip=True)

        data.append([ac_no, ac_name, total])

In [21]:
df_sir_2026 = pd.DataFrame(
    data,
    columns=[
        "ac_no",
        "ac_name",
        "total_eligible_voters_2026"
    ]
)

df_sir_2026.head(10)

  ac_no        ac_name total_eligible_voters_2026
0     1  Gummidipoondi                     242558
1     2        Ponneri                     239141
2     3      Tiruttani                     252154
3     4    Thiruvallur                     238818
4     5    Poonamallee                     348034
5     6          Avadi                     402693
6     7    Maduravoyal                     325407
7     8       Ambattur                     304511
8     9      Madavaram                     386327
9    10  Thiruvottiyur                     222806

In [22]:
# AC number
df_sir_2026["ac_no"] = pd.to_numeric(
    df_sir_2026["ac_no"],
    errors="coerce"
)

# remove commas from voter count
df_sir_2026["total_eligible_voters_2026"] = (
    df_sir_2026["total_eligible_voters_2026"]
    .str.replace(",", "", regex=False)
)

df_sir_2026["total_eligible_voters_2026"] = pd.to_numeric(
    df_sir_2026["total_eligible_voters_2026"],
    errors="coerce"
)

df_sir_2026 = df_sir_2026.dropna(
    subset=["ac_no", "total_eligible_voters_2026"]
)

df_sir_2026["ac_no"] = df_sir_2026["ac_no"].astype(int)
df_sir_2026["total_eligible_voters_2026"] = (
    df_sir_2026["total_eligible_voters_2026"].astype(int)
)

df_sir_2026.head()

   ac_no        ac_name  total_eligible_voters_2026
0      1  Gummidipoondi                      242558
1      2        Ponneri                      239141
2      3      Tiruttani                      252154
3      4    Thiruvallur                      238818
4      5    Poonamallee                      348034

In [23]:
df_sir_2026.shape

(234, 3)

In [24]:
conn = sqlite3.connect("../db/tn_election.db")
print("Connected to SQLite")

Connected to SQLite

In [25]:
df_sir_2026.to_sql(
    "voters_2026",
    conn,
    if_exists="replace",
    index=False
)

print("voters_2026 table created/updated")

voters_2026 table created/updated

In [26]:
pd.read_sql("SELECT * FROM voters_2026",conn)

     ac_no         ac_name  total_eligible_voters_2026
0        1   Gummidipoondi                      242558
1        2         Ponneri                      239141
2        3       Tiruttani                      252154
3        4     Thiruvallur                      238818
4        5     Poonamallee                      348034
..     ...             ...                         ...
229     41         Ranipet                      235960
230     42           Arcot                      235816
231    160        Sirkazhi                      232766
232    161  Mayiladuthurai                      225840
233    162       Poompuhar                      249516

[234 rows x 3 columns]